<div class="overlay">
  <div class="dialog">
    <h3>{{ title }}</h3>
    <label>{{ label }}</label>
    <div class="value-row">
      <input [(ngModel)]="value" [readOnly]="readonlyValue" (keyup.enter)="!readonlyValue && onConfirm()" />
      <button *ngIf="readonlyValue" (click)="copyToClipboard()" title="Copy"><i class="fi fi-rr-copy ic-blue"></i></button>
    </div>
    <div class="actions">
      <button (click)="onCancel()">{{ readonlyValue ? 'Close' : 'Cancel' }}</button>
      <button *ngIf="!readonlyValue" class="primary" (click)="onConfirm()">{{ confirmLabel }}</button>
    </div>
  </div>
</div>
